<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}E-commerce Site{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul class="navbar">
                <li><a href="{% url 'product_list' %}" class="nav-link">Home</a></li>
                <li><a href="{% url 'add_product' %}" class="nav-link">Add Product</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}" class="nav-link">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}" class="nav-link">Login</a></li>
                    <li><a href="{% url 'register' %}" class="nav-link">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
